<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684232612745-tq9n3g7k4rccqi12vop74kulcrfb5fbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684232612745-tq9n3g7k4rccqi12vop74kulcrfb5fbk</string>
	<key>API_KEY</key>
	<string>AIzaSyBWccb-JjZpMqS5UhnfDQl0kckE-nK6co8</string>
	<key>GCM_SENDER_ID</key>
	<string>684232612745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hph.management</string>
	<key>PROJECT_ID</key>
	<string>hph-referral-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hph-referral-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684232612745:ios:603f1bdee3576705c39f58</string>
</dict>
</plist>